.PaySlip {
    width: 620px;
    /* height: 877px; */
    background-color: white;
    margin: 0 auto;
    /*border: 1px solid red;*/
    margin-top: 20px;
}
/* .PaySlip .header{
    margin-top: 20px;
} */
.PaySlip .header h3,p{
    text-align: center;
}
.PaySlip table{
    border: 1px solid black;
    width: 100%;
}
.PaySlip table .left{
    width: 100px;
    background-color: #333;
    text-align: center;
}
.PaySlip table .right{
    width: 520px;
    border: 1px solid black;
}
.PaySlip .border-br{
    border: 1px solid black;
}
.border-br:last-child{
    border-right: none!important;
    width: calc(100% - 100px);
}
.border-br .one{
    width: 100px;
}
.PaySlip table tr{
    margin: 0;
    width: 100%;
}
.w100{
    width: 100% !important;
    /*background-color: green!important;*/
}
.w101{
    display: flex;
    width: 100%;
}
.w1{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.w2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.ce1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ce2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
